h2{
	text-decoration: underline;
}

body {
    background-color: #870612;
    color: white;
}
.Main_title{
	text-align: center;
}

#navigation{
	border:solid black 10px;
	border-radius: 20px;
	padding: 30px;
	list-style: none;
	background-color: #330000;	
	text-align: center;
}

#navigation li a{
	text-decoration: none;
	background-color: #CC0000;
	color: white;
	border: solid black 2px;
	border-radius: 10px;
	padding: 5px;
}

.links{
	color: #FFCD00;
	text-decoration: none;
}

.nav_link{
	display: inline;
}

.youtube{
	height: 180px;
	width: 300px;
}

.twitch{
	height: 325px;
	width: 420px;
}

.lol{
	height: 150px;
	width: 390px;
}

#lolvids{
	height: 200px;
	width: 490px;
	margin: 0px 50px 0px 120px;
}

.cod{
	height:100px;
	width: 350px;
}

#codvids{
	height: 200px;
	width: 650px;
	margin: 0px 50px 0px 120px;
}

#nbavids{
	height:300px;
	width: 600px;
	margin: 0px 50px 0px 100px;
}

#titanfallvids{
	height: 350px;
	width: 800px;
	margin:20px 0px 0px 00px;
}

#xbox{
	height: 200px;
	width: 300px;
}

#steam{
	height:200px;
	width: 500px;
}

.minecraft{
	height: 100px;
	width: 300px;
}



#nba2k{
	height: 100px;
	width: 250px;
}

#gta{
	height:100px;
	width: 120px;
}

#halo{
	height: 100px;
	width: 550px;
}

#nintendo{
	height:100px;
	width: 500px;
}

iframe{
	margin: 20px 50px 20px 55px;
	border: solid black;

}