p {
	text-align: center;
}
 h1 {
 	color: #E87DBC;
 	text-align: center;
 }
 h2 {
 	text-align: center;
 	color: #8A2BE2;
 }
 h3 {
 	text-align: center;
 	color: #32CD32;
 }
body {
	background-color:hsl(290,15%,90%);
}

img {
	width: 40%;
	height: auto;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
body {
	color: #E4158E
}

#navigation ul {
	list-style: none; 
	text-align: center;
	margin: 0;
	padding: 20;
	overflow: hidden;
}

 #navigation li {
 	border: solid #D3F886 2px;
 	width: 100px;
 	display: inline;
 	text-align: center;
 	background-color: #FFC0CB; 
 }

#navigation li a {
	text-decoration: none;
	font-weight: bold;

}

#navigation li a:hover {
	background-color: white;
}
#joe {
	text-align: center;
}